In [55]:
# -*- coding: utf_8_sig -*-
"""
Created on 2021/1/27
@author: Zhao Zhen

"""

'\nCreated on 2021/1/27\n@author: Zhao Zhen\n\n'

In [57]:
import numpy as np
import pandas as pd

### Action1：求2+4+6+8+...+100的求和，用Python该如何写

In [67]:
data1 = np.arange(2,102,2)
data1

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

### method 1

In [68]:
n = 0
for i in data1:
    n += i
print(n)

2550

### method 2

In [3]:
sum_data1 = np.sum(data1)
sum_data1

2550

### Action2: 统计全班的成绩
班里有5名同学，现在需要你用Python来统计下这些人在语文、英语、数学中的平均成绩、最小成绩、最大成绩、方差、标准差。然后把这些人的总成绩排序，得出名次进行成绩输出（可以用numpy或pandas）

In [4]:
name_dic = {'张飞':[68,65,30],'关羽':[95,76,98],'刘备':[98,86,88],'典韦':[90,88,77],'许褚':[80,90,90]}
column_name = ['语文','数学','英语']

In [5]:
data2 = pd.DataFrame(name_dic)
data3 = data2.T
data3.columns = column_name
data3

    语文  数学  英语
张飞  68  65  30
关羽  95  76  98
刘备  98  86  88
典韦  90  88  77
许褚  80  90  90

In [6]:
data3.describe()

              语文         数学         英语
count   5.000000   5.000000   5.000000
mean   86.200000  81.000000  76.600000
std    12.255611  10.440307  27.107195
min    68.000000  65.000000  30.000000
25%    80.000000  76.000000  77.000000
50%    90.000000  86.000000  88.000000
75%    95.000000  88.000000  90.000000
max    98.000000  90.000000  98.000000

In [7]:
data3['tot'] = data3.sum(axis= 1)  #计算总成绩
data3.sort_values('tot')

    语文  数学  英语  tot
张飞  68  65  30  163
典韦  90  88  77  255
许褚  80  90  90  260
关羽  95  76  98  269
刘备  98  86  88  272

### Action3: 对汽车质量数据进行统计
数据集：car_complain.csv
600条汽车质量投诉<br>
Step1，数据加载<br>
Step2，数据预处理
拆分problem类型 => 多个字段<br>
Step3，数据统计
对数据进行探索：<strong>品牌投诉总数，车型投诉总数
哪个品牌的平均车型投诉最多</strong>

In [105]:
def data_load(path):
    data = pd.read_csv(path)
    return data

def data_clean(data):
    data = data.drop('problem',axis=1).join(data['problem'].str.get_dummies(','))#拆分problem字段
    data['brand']=data['brand'].str.replace('一汽-大众','一汽大众')
    return data

def data_computing(data):
    problems = data[data.columns[7:]]
    problems_count = problems.sum(axis = 1)    
    data['problem_count'] = problems_count
    data_brand_sum = data.groupby(['brand'])['problem_count'].agg(['sum']).sort_values('sum',ascending=False)
    data_carModel_sum = data.groupby(['car_model'])['problem_count'].agg(['sum']).sort_values('sum',ascending=False)  
    data_brand_mean = data.groupby(['brand','car_model'])['problem_count'].agg(['sum']).groupby(['brand']).mean().sort_values('sum', ascending = False)
    data_brand_mean['sum'] = data_brand_mean['sum'].apply(lambda x : ('%.1f') % x)
#     data_brand_mean = data_brand_mean.apply(lambda x : ('%.1f') % x) 
#     data_brand_mean = data.groupby(['brand'])['car_model'].agg(np.mean).apply(lambda x : ('%.1f') % x)  #给平均数这一列取2位小数
    result = data_brand_sum , data_carModel_sum ,data_brand_mean
    print(result)
#     return data_brand_sum,data_carModel_sum,data_brand_mean

def main():
    path = r'.\car_complain.csv'
    data = data_load(path)
    # data.head()
    data =data_clean(data)
    data_computing(data)
if __name__ == '__main__':
    main()

(           sum
brand
一汽马自达      193
吉利汽车       192
一汽大众        89
上汽大众        57
北京现代        40
一汽大众奥迪      32
东风日产        30
奇瑞汽车        25
上汽集团        25
众泰汽车        25
广汽丰田        24
上汽斯柯达       22
东风标致        20
长城汽车        19
一汽丰田        19
广汽三菱        18
上汽通用五菱      16
奔驰（进口）      13
江淮汽车        13
东风雪铁龙       12
广汽本田        12
长安马自达       10
长安汽车        10
一汽奔腾        10
吉利新能源        9
东风本田         8
华晨宝马         8
北京汽车         7
星途           7
北京奔驰         7
...        ...
玛莎拉蒂         3
北汽新能源        3
奇瑞捷豹路虎       3
宝沃汽车         3
江铃汽车         2
雷克萨斯         2
长安铃木         2
一汽解放         2
长安标致雪铁龙DS    2
东风裕隆         2
观致汽车         2
福田汽车         2
猎豹汽车         2
东风风行         2
林肯（进口）       2
力帆汽车         2
东南汽车         2
天津一汽         2
奇瑞新能源        1
奥迪（进口）       1
凯翼汽车         1
沃尔沃（进口）      1
多士星          1
东风小康         1
比亚迪          1
绵阳金杯         1
开瑞汽车         1
北汽昌河         1
一汽红旗         1
沃尔沃亚太        1

[74 rows x 1 columns],            sum
car_model
阿特兹        152
星越          92
马自达CX-4     41
速腾          33
迈腾          22
缤越          21
博越          21
帝豪          17
途胜          17
逍客          16
凌渡          16
朗逸          15
嘉际          14
凯美瑞         14
奥迪A4L       13
探岳          13
捷达VS5       12
速派          12
领动          12
欧蓝德         11
博瑞          10
标致408       10
雪铁龙C4L       9
帝豪GL         9
奥迪A6L        8
马自达3 昂克赛拉    8
瑞虎8          8
途观L          8
天籁           7
途安           7
...        ...
特顺新能源        1
时代金刚         1
昊锐           1
江淮iEV6E      1
昌河M70        1
智尚S30        1
比亚迪F0        1
欧马可          1
桑塔纳          1
柯迪亚克GT       1
柳特           1
宝骏630        1
皓影           1
宝骏530        1
荣威Ei5        1
远景           1
奥迪Q5L        1
迈威           1
起亚K3         1
奥迪Q7         1
荣威RX8        1
宝沃BX7        1
睿骋CC         1
宝马6系GT       1
维特拉          1
红旗HS5        1
索纳塔八         1
箱货           1
宝骏360        1
解放J6P        1

[212 rows x 1 columns],           sum
brand
一汽马自达    96.5
吉利汽车     19.2
一汽大众     12.7
广汽三菱      9.0
广汽丰田      8.0
东风日产      6.0
北京现代      5.7
上汽大众      5.7
一汽大众奥迪    5.3
奇瑞汽车      5.0
华晨中华      5.0
东风雷诺      5.0
长安马自达     5.0
奔驰（进口）    4.3
华晨鑫源      4.0
东风雪铁龙     4.0
上汽斯柯达     3.7
上汽集团      3.6
北京汽车      3.5
大众（进口）    3.5
南京依维柯     3.5
星途        3.5
东风标致      3.3
一汽丰田      3.2
众泰汽车      3.1
北汽新能源     3.0
玛莎拉蒂      3.0
广汽本田      3.0
吉利新能源     3.0
东风英菲尼迪    3.0
...       ...
东风乘用车     2.0
汉腾汽车      2.0
天津一汽      2.0
一汽吉林      2.0
东风风行      2.0
东风悦达起亚    2.0
东风本田      2.0
上汽通用五菱    1.8
宝马（进口）    1.5
奇瑞捷豹路虎    1.5
宝沃汽车      1.5
福田汽车      1.0
北汽昌河      1.0
绵阳金杯      1.0
长安铃木      1.0
雷克萨斯      1.0
力帆汽车      1.0
开瑞汽车      1.0
沃尔沃（进口）   1.0
沃尔沃亚太     1.0
江铃汽车      1.0
比亚迪       1.0
一汽红旗      1.0
凯翼汽车      1.0
奥迪（进口）    1.0
东南汽车      1.0
奇瑞新能源     1.0
东风小康      1.0
多士星       1.0
一汽解放      1.0

[74 rows x 1 columns])